@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1440px) {

     /*Para visualização em tablets*/

     *{
        font-size: 0.97em;
    }
            h1 {
                padding-top: 30px;
                font-size: 3em;
            }

        main {
            max-width: 1024px;
        }

            nav {
                width: 181px;
                height: 600px;
            }

                #menu {
                    height: 600px;
                }

                    #indice {
                        padding-top: 10px;
                    }

                    .letra {
                        margin-top: 5px;
                        font-size: 1.1em;
                    }

                #lista {
                    width: 141px;
                    height: 600px;
                }

            form {
                width: 826px;
                height: 600px;
            }

                #infoPessoal {
                    width: 826px;
                }

                    .dadosPessoal {
                        padding: 20px 0px 0px 25px;
                    }

                    .dadosPessoal > label {
                        display: block;
                        width:65px;
                        padding: 5px 0px 5px 0px;
                        text-align: left;
                    }

                    input {
                        width: 100px;
                        text-align: left;
                        font-size: 0.9EM;
                    }

                    label {
                        display: inline-block;
                        width: 70px;
                        padding: 10px 0px 10px 10px;
                        text-align: center;
                    }

                    #iNome {
                        width: 150px;
                    }

                    .txtGr {
                        width: 250px;
                    }

                    .txtMd {
                        width: 120px;
                    }

                    .numGr {
                        width: 90px;
                    }

                    .numPq {
                        width: 35px;
                    }

                    #iRamalCom {
                        width: 35px;
                    }

                    #iSobrenome {
                        width: 300px;
                    }

                h2 {
                    padding: 50px 0px 50px 0px;
                    font-size: 2.0em;
                }

                #endResid{
                    width: 410.5px;
                    height: 400px; 
                    padding-left: 5px;          
                }

                    #endResid > label {
                        padding: 5px 0px 5px 0px;
                    }

                #endCom {
                    display: block;
                    position: absolute;
                    left: 410.5px;
                    width: 410.5px;
                    height: 400px;
                    padding-left: 5px;
                }

                    #endCom > h2 {
                        padding-bottom: 30px;
                    }

                    #endCom > label {
                        padding: 5px 0px 5px 0px;
                    }

                    #iGravar {
                        position: absolute;
                        top: 370px;
                        left: 310px;
                        text-align: center;
                    }
        
}

@media screen and (max-width: 768px) {

    /* Para visualização smartphones*/

    *{
        font-size: 0.95em;
    }

    body {
        width: 100vw;
        border: 1px solid #000000;
    }
        header {
            width: 100vw;
            height: 100px;
        }

            h1 {
                padding-top: 30px;
                font-size: 2em;
            }

        main {
            width: 100vw;
            height: 1200px;
        }

            nav {
                width: 35vw;
            }

                #menu {
                    width: 10vw;
                    height: 1200px;
                }

                    #indice {
                        height: 1200px;
                        list-style: none;
                        padding-top: 20px;
                    }

                    .letra {
                        font-size: 1.5em;
                        padding-top: 12.5px;
                    }

                #lista {
                    height: 1200px;
                }

            form {
                width: 65vw;
            }

                #infoPessoal {
                    width: 65vw;
                    height: 130px;
                }

                    #iFoto{
                        width: 80px;
                        height: 110px;
                        margin: 10px 0px 10px 20px;
                        border: 1px solid #000000;
                    }

                    .dadosPessoal {
                        padding: 15px 0px 0px 20px;
                    }

                    label {
                        display: block;
                        width: 60px;
                        padding: 0px 0px 0px 0px;
                        text-align: left;
                    }

                    input {
                        width: 100px;
                        text-align: left;
                        font-size: 0.9EM;
                    }

                    #iNome {
                        width: 100px;
                    }

                    .txtGr {
                        width: 250px;
                    }

                    .txtMd {
                        width: 120px;
                    }

                    .numGr {
                        width: 90px;
                    }

                    .numPq {
                        width: 35px;
                    }

                    #iRamalCom {
                        width: 35px;
                    }

                    #iSobrenome {
                        width: 150px;
                    }

                h2 {
                    padding: 10px 0px 5px 0px;
                    font-size: 1.5em;
                }

                #endResid{
                    top: 130px;
                    width: 63vw;
                    height: 520px; 
                    padding-left: 10px;          
                }

                    #endResid > label {
                        padding: 5px 0px 5px 0px;
                    }

                #endCom {
                    display: block;
                    position: absolute;
                    top: 650px;
                    left: 0px;
                    width: 63vw;
                    height: 550px;
                    padding-left: 10px;
                }

                #endResid > h2 {
                    padding: 10px 0px 5px 0px;
                }

                    #endCom > label {
                        padding: 5px 0px 0px 0px;
                    }

                #iGravar {
                    position: absolute;
                    top: 520px;
                    left: 220px;
                    text-align: center;
                }
        
        footer {
            width: 100vw;
        }
}