@charset "UTF8";

* {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

/*body {
    overflow-x: hidden;
}*/
    header{
        height: 200px;
        background-color: #b9b9f3;
    }
    
        h1 {
            padding-top: 50px;
            font-size: 5em;
            text-align: center;
        }

    main {
        height: 780px;
        background-color: #d67faa;
    }

        nav {
            display: inline-block;
            width: 363px;
            height: 780px;
            background-color: #7fffd4;
        }

            #menu {
                display: inline-block;
                width: 100px;
                height: 780px;
                background-color: #bdb76b;
            }

                #indice {
                    list-style: none;
                    padding-top: 20px;
                }

                    .letra {
                        margin-top: 10px;
                        text-align: center;
                    }

            #lista {
                display: inline-block;
                position: absolute;
                width: 280px;
                height: 780px;
                background-color: #d18f59;
            }

        form {
            display: inline-block;
            position: absolute;
            width: 1540px;
            height: 780px;
            background-color: #ff7f50;
        }

            #infoPessoal {
                display: inline-block;
                position: absolute;
                width: 1540px;
                height: 200px;
                background-color: #bdb76b;
            }

                #iFoto{
                    display: inline-block;
                    width: 130px;
                    height: 180px;
                    margin: 10px 0px 10px 20px;
                    border: 1px solid #000000;
                }

                .dadosPessoal {
                    display: inline-block;
                    position: absolute;
                    padding: 60px 0px 0px 4px;
                }

                h2 {
                    padding: 35px 0px 55px 0px;
                    text-align: center;
                    font-size: 2.5em;
                }    

                label {
                    display: inline-block;
                    width: 85px;
                    padding: 15px 0px 15px 20px;
                    text-align: center;
                }

                input {
                    width: 50px;
                    text-align: left;
                }

                #iNome {
                    width: 150px;
                }

                .txtGr {
                    width: 400px;
                }

                .txtMd {
                    width: 200px;
                }

                .numGr {
                    width: 110px;
                }

                .numPq {
                    width: 50px;
                }

                #iRamalCom {
                    width: 35px;
                }

            #endResid {
                display: inline-block;
                position: absolute;
                top: 200px;
                width: 770px;
                height: 580px;
                background-color: #ee82ee;
            }

            #endResid > label {
                padding: 15px 0px 15px 80px;
            }

            #endCom {
                display: inline-block;
                position: absolute;
                top: 200px;
                left: 770px;
                width: 770px;
                height: 580px;
                background-color: #00ced1;
            }

            #endCom > h2 {
                padding-bottom: 45px;
            }

            #endCom > label {
                padding: 15px 0px 15px 50px;
            }

    footer {
        height: 100px;
        background-color: #969696;
    }